@mixin mQ ($min) {
  @media screen and (min-width:$min){
    @content;
  }
}

*{
  margin:0;
  padding:0;
}

body{
  width:100%;
  background-color:skyblue;
}

.dr-list{
  display:grid;
  justify-content: center;
  grid-template-columns:95vw;
  grid-gap:2vw;
  @include mQ (500px){
    grid-template-columns: 45vw 45vw;
  }
  @include mQ (800px){
    grid-template-columns: 30vw 30vw 30vw;
  }
}

.dr-card{
  color:white;
  background-color:steelblue;
  display:flex;
  justify-content: space-around;
  padding:15px;
  border:1px solid white;
}

.flex-wrapper{
  width:100%;
  display:flex;
  justify-content: center;
}

#searchForm{
  width:500px;
  margin: 20px;
  input, select {
    max-width: 500px;
  }
  div{
    margin-top:15px;
  }
  button{
    margin-top:15px;
    background-color:white;
    border:2px solid steelblue;
    border-radius:10px;
    padding:10px;
    width:200px;
    &:hover{
      color:white;
      transition:background-color 0.5s;
      background-color:steelblue;
    }
  }
}
